@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<address>
    Bengaluru<br />
    India<br />
    <abbr title="Phone">P:</abbr>
    9743493559
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:shree912@yahoo.com">shree912@yahoo.com</a><br />
</address>