USE [master]
GO
/****** Object:  Database [D:\SAMPLEPROJECTS\DELTAXMOVIES\DELTAXMOVIES\APP_DATA\MOVIESDB.MDF]    Script Date: 8/18/2018 12:56:22 PM ******/
CREATE DATABASE [D:\SAMPLEPROJECTS\DELTAXMOVIES\DELTAXMOVIES\APP_DATA\MOVIESDB.MDF]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'MoviesDB', FILENAME = N'D:\SampleProjects\DeltaXMovies\DeltaXMovies\App_Data\MoviesDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'MoviesDB_log', FILENAME = N'D:\SampleProjects\DeltaXMovies\DeltaXMovies\App_Data\MoviesDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [D:\SAMPLEPROJECTS\DELTAXMOVIES\DELTAXMOVIES\APP_DATA\MOVIESDB.MDF].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [D:\SAMPLEPROJECTS\DELTAXMOVIES\DELTAXMOVIES\APP_DATA\MOVIESDB.MDF]
GO
USE [D:\SAMPLEPROJECTS\DELTAXMOVIES\DELTAXMOVIES\APP_DATA\MOVIESDB.MDF]
GO
/****** Object:  Table [dbo].[Actor]    Script Date: 8/18/2018 12:56:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Actor](
	[ActorId] [int] IDENTITY(1,1) NOT NULL,
	[ActorName] [varchar](50) NOT NULL,
	[ActorSex] [char](1) NOT NULL,
	[ActorBio] [varchar](max) NULL,
	[ActorDOB] [date] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ActorId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ActorAgreement]    Script Date: 8/18/2018 12:56:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ActorAgreement](
	[AgreementId] [int] IDENTITY(1,1) NOT NULL,
	[ActorId] [int] NOT NULL,
	[MovieId] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[AgreementId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Movie]    Script Date: 8/18/2018 12:56:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Movie](
	[MovieId] [int] IDENTITY(1,1) NOT NULL,
	[MovieName] [varchar](100) NOT NULL,
	[MovieYOR] [datetime] NOT NULL,
	[MoviePlot] [varchar](max) NULL,
	[MoviePoster] [varbinary](max) NULL,
	[MovieProducer] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MovieId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Producer]    Script Date: 8/18/2018 12:56:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Producer](
	[ProducerId] [int] IDENTITY(1,1) NOT NULL,
	[ProducerName] [varchar](50) NOT NULL,
	[ProducerSex] [char](1) NOT NULL,
	[ProducerDOB] [date] NOT NULL,
	[ProducerBio] [varchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[ProducerId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[Actor] ADD  DEFAULT ('') FOR [ActorBio]
GO
ALTER TABLE [dbo].[Actor] ADD  DEFAULT ('1900-01-01') FOR [ActorDOB]
GO
ALTER TABLE [dbo].[Movie] ADD  DEFAULT ('1900-01-01') FOR [MovieYOR]
GO
ALTER TABLE [dbo].[Movie] ADD  DEFAULT ('') FOR [MoviePlot]
GO
ALTER TABLE [dbo].[Producer] ADD  DEFAULT ('1900-01-01') FOR [ProducerDOB]
GO
ALTER TABLE [dbo].[Producer] ADD  DEFAULT ('') FOR [ProducerBio]
GO
ALTER TABLE [dbo].[ActorAgreement]  WITH CHECK ADD  CONSTRAINT [FK_ActorAgreement_Actor] FOREIGN KEY([ActorId])
REFERENCES [dbo].[Actor] ([ActorId])
GO
ALTER TABLE [dbo].[ActorAgreement] CHECK CONSTRAINT [FK_ActorAgreement_Actor]
GO
ALTER TABLE [dbo].[ActorAgreement]  WITH CHECK ADD  CONSTRAINT [FK_ActorAgreement_Movie] FOREIGN KEY([MovieId])
REFERENCES [dbo].[Movie] ([MovieId])
GO
ALTER TABLE [dbo].[ActorAgreement] CHECK CONSTRAINT [FK_ActorAgreement_Movie]
GO
ALTER TABLE [dbo].[Movie]  WITH CHECK ADD  CONSTRAINT [FK_Movie_Producer] FOREIGN KEY([MovieProducer])
REFERENCES [dbo].[Producer] ([ProducerId])
GO
ALTER TABLE [dbo].[Movie] CHECK CONSTRAINT [FK_Movie_Producer]
GO
USE [master]
GO
